@model Marketplace.Models.Ad

@{
    ViewBag.Title = "Обява";
}





<div class="row">
    



    <div class="col-md-9">
        @{
            string filePath;
            if (Model.primaryImageName != null)
            {
                filePath = VirtualPathUtility.ToAbsolute("~/Content/UploadedImages/") + Model.primaryImageName;

            }
            else
            {
                filePath = VirtualPathUtility.ToAbsolute("~/Content/UploadedImages/default.png");
            }

        }
      
        <div class="thumbnail" style="border: 0px;">
            <img class="img-responsive" src="@filePath" alt="">
            <div class="space-30"></div>
            <div class="row">
            <div class="col-md-8">
                <div class="row">  
                    @foreach (var image in Model.Images.Where(a => a.IsItPrimary == false))
                    {

                        string path = VirtualPathUtility.ToAbsolute("~/Content/UploadedImages/") + image.FileName;
                        <a href="@path" data-lightbox="images" class="col-sm-3">
                            <img src="@path" class="img-fluid">
                        </a>
                    }
                    
                </div>
            </div>
                </div>
           
            <div class="caption-full">
                <h3 class="pull-right text-danger ">@Model.Price лв.</h3>
                <h3>
                    
                        @Model.Title
                    
                </h3>
                <div style="padding-top: 40px">
                    <p>
                        @Model.Content
                    </p>
                </div>
                <hr>
                <div>
                 <p class="pull-left"><i>Публикувано на @Html.ValueFor(Model => Model.DateCreated, "{0:dd MMMM yyyy г. hh:mm ч.}")</i><p>
                <p class="pull-right">Преглеждания: <i>@Model.ViewCount</i><p>
                </div>
            </div>
           
            <div class="space"></div>
            <div class="text-center">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
                {
                    @Html.ActionLink("Редактирай", "Edit", "Ad", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Изтрий", "Delete", "Ad", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }
                @Html.ActionLink("Назад", "Index", "Ad", null, new { @class = "btn btn-default btn-xs" })
            </div>
            
            <div class="space"></div>
            <div class="price ">
                <p class="pull-right">3 коментара</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    4.0
                </p>
            </div>
        </div>
        
        <div class="well">

            <div class="text-right">
                <a class="btn btn-success">Напиши коментар</a>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Без име
                    <span class="pull-right">преди 10 дни</span>
                    <p>Баси якото!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Без име
                    <span class="pull-right">преди 15 дни</span>
                    <p>Препоръчвам!</p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                    Иван
                    <span class="pull-right">преди 16 дни</span>
                    <p>Доволен съм. Препоръчвам.</p>
                </div>
            </div>

        </div>

    </div>

    @{ 

        string filePathProfilePicture;
        if (Model.Author.ProfilePicture != null)
        {
            filePathProfilePicture = VirtualPathUtility.ToAbsolute("~/Content/ProfilePictures/") + Model.Author.ProfilePicture;

        }
        else
        {
            filePathProfilePicture = VirtualPathUtility.ToAbsolute("~/Content/ProfilePictures/avatar.jpg");
        }
    }
    <div class="col-md-3">
        <center>
            <img src="@filePathProfilePicture" alt="Circle Image" width="150" height="150" class="img-circle">
            <br>
            <h4>@Model.Author.FullName</h4>
            <p class="small">
                В БитакБГ от <br><i>@Html.ValueFor(Model => Model.Author.DateCreated, "{0:dd MMMM yyyy г.}")</i>
                <div style="width: 70%; padding-top: 2  0px">
                    @Html.ActionLink("Обяви на потребителя" , "List", "Ad", new { @userId = Model.Author.Id }, new { @class="btn btn-block btn-sm btn-info btn-round" } )
                    
                </div>
        </center>
    </div>
    </div>