
@model Marketplace.Models.AdCategoryModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <div class="tim-title">
            <center><h3>Категории </h3></center>
        </div>
        <div class="list-group">
            @foreach (var category in Model.categories)
            {
                @Html.ActionLink(string.Format($"{category.Name} ({category.Ads.Where(a => a.Approved == 1).Count()})"),
        "List", "Ad", new { @categoryId = category.Id }, new { @class = "list-group-item" })
            }
        </div>
    </div>

    <div class="col-md-9">



        <div class="row">

            <div class="tim-title">
                <center><h3>Последни обяви</h3></center>
            </div>

            
            
            @foreach (var ad in Model.ads)
            {
                string filePath;
                if (ad.primaryImageName != null)
                {
                    filePath = VirtualPathUtility.ToAbsolute("~/Content/UploadedImages/") + ad.primaryImageName;

                }
                else
                {
                    filePath = VirtualPathUtility.ToAbsolute("~/Content/UploadedImages/default.png");
                }                
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="@filePath" class="col-sm-4" alt="">
                        <div class="caption">
                            <h4 style="margin: 0; font-size: 13pt;">
                                @Html.ActionLink(@ad.Title, "Details", "Ad", new { @id = ad.Id }, null)
                            </h4>
                        </div>
                        <div class="price">

                            <p class="pull-right"><strong>@ad.Price</strong></p>
                            <p class="text-warning">@ad.Town.Name</p>
                        </div>
                    </div>
                </div>
            }

        </div>

   </div>

